
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <h6 class="border-bottom border-gray pb-2 mb-2">投稿する</h6>
          <%= form_with model:user_post, url: user_posts_path, local:true do |f| %>
            <%= render "layouts/error_messages", resource: user_post %>
            <%= f.file_field :image, class:"mb-1" %>
            <br>
            <%= f.text_area :content, class:"form-control", rows:"3", placeholder:"もうすぐシーズンスタート!" %>
            <hr>
            <%= f.submit "つぶやく", class:"btn btn-lg btn-block btn-base-1 mt-20 btn-info" %>
          <% end %>
        </div>