<div class="row">
  <div class="col-md-12">
    <div class="my-3 p-1 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">最新の投稿</h6>
    <% user_posts.each do |post| %>
    <div class="media text-muted pt-1  border-bottom border-gray">
      <%= link_to user_post_path(post) do %>
				<%= attachment_image_tag(post.user, :image, size:'40x40', fallback: "no_image.png", size:'40x40',class: "rounded-circle" )%>
			<% end %>
      <div class="media-body mb-1 small lh-125">
        <div class="mb-1">
          <strong class="text-gray-dark mr-2" ><%= post.user.name %></strong><%= l post.created_at %>
        </div>
        <%= attachment_image_tag post, :image,size: '150x150', class: "mb-1 ml-1 d-block"%>
        <a class="ml-1 inline-block"><%= post.content%></a>
        <div class="row ml-2 mt-1">
          <div class="mr-1">
            <%= render "post_favorite", post: post %>
          </div>
          <%= link_to user_post_path(post.id) do %>
          <i class="fas fa-comments" aria-hidden="true"></i>
          <%= post.user_post_comments.count %>
          <% end %>
          <% if post.user == current_user %>
            <%= link_to edit_user_post_path(post.id) do %>
            <i class="fas fa-edit ml-1" aria-hidden="true"></i>
            <% end %>
            <%= link_to user_post_path(post.id), method: :delete, data: {confirm: "削除しますか？"}  do%>
            <i class="fas fa-trash-alt ml-1" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
    </div>
  </div>
</div>