<% provide(:title, "ユーザー一覧") %>


<div class="row">
  <div class="col-md-4">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            プロフィール
            <% if current_user %>
                <%= link_to edit_user_path(current_user) do %>
                <i class="fas fa-edit ml-1" aria-hidden="true"></i>
                <% end %>
            <% end %>
        </h6>
      <%= render "users/profile_detail", user: current_user %>
    </div>
  </div>
  <div class=" col-md-8 p-3">
    <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a href="#tab1" class="nav-link active small" data-toggle="tab">新着</a>
      </li>
      <li class="nav-item">
        <a href="#tab2" class="nav-link small" data-toggle="tab">スノーボード</a>
      </li>
      <li class="nav-item">
        <a href="#tab3" class="nav-link small" data-toggle="tab">スキー</a>
      </li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane active">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <% @users.each do |user| %>
            <%= render "users/profile", user: user%>
            <% end %>
          </div>
        </div>
        <div id="tab2" class="tab-pane">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
          <% @snowboard_users.each do |user| %>
          <%= render "users/profile", user: user%>
          <% end %>
          </div>
        </div>
        <div id="tab3" class="tab-pane">
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <% @ski_users.each do |user| %>
            <%= render "users/profile", user: user%>
            <% end %>
          </div>
        </div>
  </div>
</div>

