<% provide(:title, "ユーザープロフィール") %>

<div class="row">
  <div class="col-md-12">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            ユーザープロフィール
            <% if @user == current_user %>
                <%= link_to edit_user_path(@user) do %>
                <i class="fas fa-edit ml-1" aria-hidden="true"></i>
                <% end %>
            <% end %>
        </h6>
        <%= render "users/profile", user: @user %>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <strong>登録日時</strong> <span><%= l @user.created_at %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <strong>車の有無</strong> <span><%= @user.is_owned %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <strong>自己紹介</strong><br>
          <span class="text-muted mt-1"><%= @user.introduction %></span>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All suggestions</a>
        </small>
      </div>
    </div>
  </div>