<% provide(:title, "イベント詳細") %>
<div class="row">
  <div class="col-md-4">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <%= render "users/profile_detail", user: @event.user %>
      <%= render "users/chat_start", isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry, user: @user %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">
          <%= @event.title %>
          <% if @event.user == current_user %>
            <%= link_to edit_event_path(@event) do %>
              <i class="fas fa-edit ml-1" aria-hidden="true"></i>
            <% end %>
            <%= link_to event_path(@event), method: :delete, data: {confirm: "本当に削除しますか？削除する場合は必ず参加者に事前にご連絡お願いします。"}  do%>
              <i class="fas fa-trash-alt ml-1" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </h6>
        <%= attachment_image_tag(@event, :image, size:'200x200', class: "mt-1 mb-1")%>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted text-sm">出発予定日時</span> <span><%= l @event.departure_date %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">帰宅予定日時</span> <span><%= l @event.return_date %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">参加申請締切</span> <span><%= l @event.deadline_date %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">ゲレンデ</span> <span><%= link_to @event.ski_slope.title, ski_slope_path(@event.ski_slope) %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">１人あたりの交通費目安</span> <span>￥<%= @event.transportation_expense %></span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">参加人数</span> <span><%= link_to @event.event_users.count, applicants_event_path %>人/<%= @event.applicant_number %>人</span>
        </div>
        <div class="col mt-1 mb-1 border-bottom border-gray">
          <span class="text-muted">詳細</span><br>
          <span class="text-muted"><%= @event.description %></span>
        </div>
        <!--イベント作成したユーザーかの確認-->
        <% unless current_user == @event.user %>
          <!--申し込み期限内かつ、募集人数に到達していないか確認-->
          <% if @event.authorized_by?(@event) %>
            <!--申し込み済みかの確認-->
            <% if @event.applied_by?(current_user) %>
              <%= link_to event_event_users_path(id: @event.id, event_id: @event.id), method: :delete, data: {confirm: "申し込みをキャンセルしますか？キャンセルする場合は必ず主催者様に事前にご連絡お願いします。"}  do %>
                <button type="button" class="btn btn-outline-danger">申し込み取消</button>
              <% end %>
            <% else %>
              <%= link_to event_event_users_path(id: @event.id, event_id: @event.id), method: :post, data: {confirm: "参加を申し込みますか？申し込み後にキャンセルされる場合は主催者様に必ずご連絡お願いします。"} do %>
              <button type="button" class="btn btn-outline-primary"}>申し込み</button>
              <% end %>
            <% end %>
            <!--申し込み期限超え、もしくは参加人数オーバーの場合-->
          <% else %>
            <% if @event.applied_by?(current_user) %>
              <%= link_to event_event_users_path(id: @event.id, event_id: @event.id), method: :delete do %>
                <button type="button" class="btn btn-outline-danger">申し込み取消</button>
              <% end %>
            <% else %>
              <p class="pl-2 text-danger col">募集終了</p>
            <% end %>
          <% end %>
        <!--イベントを作成したユーザーの場合-->
        <% else %>
          <a></a>
        <% end %>
        <%= render "events/event_comment", resource: @event, resource2: @event_comment %>
      </div>
  </div>
</div>