<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "SHARE SNOW", root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <% if user_signed_in? %>
        <%= link_to "トップ", user_path(current_user), class: "nav-link"%>
        <!--<a class="nav-link" href="#">TOP <span class="sr-only">(current)</span></a>-->
      <% else %>
        <%= link_to "トップ",root_path, class: "nav-link"%>
      <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "つぶやき", user_posts_path, class: "nav-link"%>
        <!--<a class="nav-link" href="#">Link</a>-->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          イベント
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
          <%= link_to "イベント一覧", events_path, class: "dropdown-item"%>
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <%= link_to "イベント作成", new_event_path, class: "dropdown-item"%>
        <% end %>
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <div class="dropdown-divider"></div>
          <%= link_to "参加イベント", "#", class: "dropdown-item"%>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ユーザー
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "ユーザー一覧", users_path, class: "dropdown-item"%>
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <%= link_to "参加イベント", "#", class: "dropdown-item"%>
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <div class="dropdown-divider"></div>
          <%= link_to "プロフィール編集", edit_user_path(current_user), class: "dropdown-item"%>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
      </li>
      <% else %>
      </li>
      <li class="nav-item">
        <%= link_to "会員登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>

    <!--実装予定-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>